.container-1 {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  /* always on the main axis */
  justify-content: space-around;
  height: 100%;
  /* Always on the cross axis */
  align-items: center;
  /* Flex Wrap to Wrap The Items In the WebPage To Responsive  */
  flex-wrap: wrap;
}

.box-1 {
  width: 200px;
  height: 100px;
  color: #000000;
  margin: 10px;
  background: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1:nth-of-type(2) {
  flex-basis: 400px;
}
.box-1:nth-of-type(1) {
  flex-grow: 4;
}
